@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

.App {
  font-family: "Press Start 2P", "VT323";
  color: white;
}

.moving-background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/background/pain.gif");
  background-size: cover;
  background-position: 40% 40%;
}
